{% extends "base.html" %}
{% block title %}Create Test{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Create Test</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.course.label }} {{ form.course(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rubric.label }} {{ form.rubric(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Test</button>
    </form>
</div>
{% endblock %}
